





		/* Style the search box inside the navigation bar */
.search-box input[type=text] {
  position:absolute;
  top:10px;
  right:70px;
  padding: 6px;
  border: 1px solid;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width:300px;
  
  height:35px;
}
.searchbtn{
	position:absolute;
  top:18px;
  right:33px;
  height:35px;
  width:100px;
  background-color:black;
  border-style:none;
  color:white;
 
}
.pic{
	height:170px;
	width:130px;
}	
.head{
	border-bottom:20px;
}	

.welcome h3{
	margin-left:10px;
	padding-left: 10px;
}
.con{
	margin-bottom:50px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
	margin-top:-20px;
	margin-bottom:50px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

	
.welcome h3{
	margin-left:10px;
	padding-left: 10px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}


.pic{
	border-radius:20px;
}	
.head{
	border-bottom:20px;
}
.likes{
	font-size:18px;
	border-radius:20px;
margin-left:5px;
  border:none;
	outline:none;
  cursor: pointer;
}
.likes:hover{
background-color:blue;
color:white;
}
.unlike{
font-size:18px;
	border-radius:20px;

  border:none;
	outline:none;
  cursor: pointer;
}
.unlike:hover{
background-color:red;
color: white;
}
.com  a{  
    color:black;
	    border-radius:20px;
	 font-weight: bold;
     text-decoration:none;
	 padding: 2px;
	 margin-left:10px;
	 
	
	 }
.com  a:hover{
background-color:red;
color: white; 
	 }	
	 .myfield{
border:0;
padding:10px;
margin:5px;
  background-color: white;
}
.logo{
  height:50px;
   width:220px;
   margin-top:-30px;
}

@media only screen and (max-width: 480px) {
	.searchbtn{
	position:absolute;
  top:18px;
  right:7px;
  height:35px;
  width:70px;
  background-color:black;
  border-style:none;
  color:white;
 
}
.logo{
  height:90px;
   width:190px;
   margin-top:-10px;
}
	/* Style the search box inside the navigation bar */
.search-box input[type=text] {
  position:absolute;
  top:10px;
  right:55px;
  padding: 6px;
  border: 1px solid;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width:130px;
  
  height:35px;
}


}

