

 
{% load static from staticfiles %}



	<!doctype html>
<html>
		<head>
											<meta charset="utf-8">
											<link type="text/css" rel="stylesheet" href="{% static 'booklibrary/homepage.css' %}">
											
											<meta name="viewport" content="width=device-width, initial-scale=1">
											<title></title>
											<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

									<link  type="text/css"  rel="stylesheet" href="{% static 'booklibrary/bootstrap.min.css' %}">
		</head>
		<body>
		<header>
		<div class='head'>
		<h1><img src="{% static 'booklibrary/kkk.jpg' %}"  class='logo' /></h1>
		<div class="search-box">
				<form method ='GET' action=''>
					<p><input type="text" class="search-text" placeholder="search..." name="q" value='{{ request.get.q }}' > 
				<input type="submit" value="search" class='searchbtn'></p>
			</form>
			<hr/>	
</div>
</div>
		</header>
		<ul class="topnav">
			  <li><a  href="{% url 'booklibrary:book_paste_list' %}">Home</a></li>
			  <li><a class="active" href="{% url 'booklibrary:book_paste_listdemo'  %}">Categories</a></li>
			  <li><a href="{% url 'booklibrary:create'  %}">Upload a book</a></li>
			  {% if not request.user.is_authenticated %}
			  <li><a href="{% url 'booklibrary:login'  %}">Login</a></li>
			  {% endif %}
			  {% if request.user.is_authenticated %}
			  <li><a href="{% url 'booklibrary:otherusers'  %}">Community</a></li>
			  {% endif %}
			  {% if request.user.is_authenticated %}
			  <li><a href="{% url 'booklibrary:userfavourite_book'  %}">Favourite books</a></li>
			  {% endif %}
			  <li class="right"><a href="{% url 'booklibrary:userprofile'  %}">Profile</a></li>
		</ul>
			<div class='welcome'>
						<h2>{{text.category}}</h2>
					</div>
				
		<div class='container'>
			<div class='row justify-content-md-center'>
				{% for post in text %} 
				<div class='col-xs-3 '>
				<img src="{{ post.book_cover.url}}"  class='img-rounded pic'/>
					<h3>{{post.title}}</h3>
						<h3>written by {{ post.author }}</h3>
						<h4>in {{post.category}}</h4>
						<p>{{ post.created_on}}</p>
						<h4><button type='button' class='btn btn-success'>
							<a href="{% url 'booklibrary:book_paste_detail' post.id %}"><span style=" color:white" >view book details</span></a>
						</button></h4>
				
						
				</div>
					
			
				{% endfor %}	
						
						
			</div>			
		</div>
			<div class='fot'>
			<div class="pagination">
    <span class="step-links">
        {% if text.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ text.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{text.number }} of {{ text.paginator.num_pages }}.
        </span>

        {% if text.has_next %}
            <a href="?page={{ text.next_page_number }}">next</a>
            <a href="?page={{text.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>	
		</div>	
			
		
		
		
		
		
		
		
		
		</body>
	</html>	