






 
{% load static from staticfiles %} 




<!doctype html>
<html>
		<head>
											<meta charset="utf-8">
											<link type="text/css" rel="stylesheet" href="{% static 'booklibrary/create.css' %}">
											
											<meta name="viewport" content="width=device-width, initial-scale=1">
											<title></title>
											<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

									<link  type="text/css"  rel="stylesheet" href="{% static 'booklibrary/bootstrap.min.css' %}">
									
									
		</head>
				<body>
		<header>
		<div class='head'>
		<h1><img src="{% static 'booklibrary/kkk.jpg' %}"  height='50px' width='220px'/></h1>
		<div class="search-box">
				
			<hr/>	
</div>
</div>
		</header>
		<ul class="topnav">
			  <li><a  href="{% url 'booklibrary:book_paste_list' %}">Home</a></li>
			  <li><a href="{% url 'booklibrary:book_paste_listdemo'  %}">Categories</a></li>
			  <li><a  href="{% url 'booklibrary:create'  %}">Upload a book</a></li>
			  <li><a href="{% url 'booklibrary:otherusers'  %}">Community</a></li>
			  {% if request.user.is_authenticated %}
			  <li><a href="{% url 'booklibrary:userfavourite_book'  %}">Favourite books</a></li>
			  {% endif %}
			  <li class="right"><a class="active" href="{% url 'booklibrary:userprofile'  %}">Profile</a></li>
		</ul>
		<div class='content'>
			<h1>Edit Profile</h1>
				 <form action="" method='POST' enctype="multipart/form-data">
								{% csrf_token %}
								{{ u_form.as_p}}
								{{ p_form.as_p }}

					
						<button type='submit' class='btn btn-success log'><h4>Update Profile</h4></button>
						
				</form>	 
		</div>
			   
		
		
	</body>
</html>	

